* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color:black;
  font-family: asap, sans-serif;
  border-bottom: 1px solid orange;
}

.nav.justify-content-end li a {
  color: white;
  cursor: pointer;
}

.navbar.sticky-top.navbar-light a {
  color:white;
}

.navbar.sticky-top.navbar-light a:hover {
  color:orange;
  transition-duration: 0.8s;
}

.navbar.sticky-top.navbar-light a:hover {
  color:orange;
  transition-duration: 0.8s;
}

#samenvatting {
  background-color: black;
  border: 4px solid red;
  position: relative;
  height: 80vH;
  border-bottom: 2px solid orange;
}

#samenvatting * {
  color: white;
}

#samenvatting h1 {
  font-size: 28px;
  font-family: asap, sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
#samenvatting .foto {
  display:none;
}

}

#samenvatting .foto {
  position: absolute;
  width:40%;
  height: auto;
  right:0;
  bottom: 0;
  border: 5px solid blue;
}


.schrijfgebied {
  position: absolute;
  left: 10%;
  top: 25%;
  width: 55%;
  height: auto;
  border: 5px solid red;
}

#samenvatting a {
  border-color: orange;
  font-family: asap, sans-serif;
}

#samenvatting a:hover {
  background-color: orange;
  border-color: white;
  transition-duration:0.5s;
}

#aboutme {
  background-color: #222222;
  position: relative;
  width:100%;
  height: 110vH;
  color: white;
  border-bottom: 2px solid orange;
}

.schrijfgebied2 {
  position: absolute;
  right: 10%;
  top: 10%;
  width: 40%;
  height: auto;
  padding: 10px 10px;

}


#aboutme h1 {
  font-family: asap, sans-serif;
  font-size: 28px;
  font-weight: bold;
}

#aboutme p {
  font-family: asap, sans-serif;
}

.fotogebied {
  position: absolute;
  bottom:15%;
  width: 45%;
  height: auto;
}

.fotogebied img {
  width: 120%;
  height: auto;
}

#werkervaring {
  background-color: grey;
  color:white;
  height: 100vh;

}
